$ash-grey: #cad2c5ff;
$dust-grey: #dad7cdff;
$muted-teal: #84a98cff;
$deep-teal: #52796fff;
$dark-slate-grey: #354f52ff;
$charcoal-blue: #2f3e46ff;
$alert-red:#DC143C;
$font-stack: 'Arial', sans-serif;
