@import '../../../styles/abstracts/variables';

.status-bar-class {
    height: 20px;
    width: 100%;
    padding: 2px;
    display: flex;
    justify-content: center;
    background-color: $deep-teal;
    color: white;
    font-weight: bold;
    //border: 1px;
    //border-style: solid;
    //border-color: black;
}