@import '../../../styles/abstracts/variables';

.alert-bar-class {
    height: 30px;
    width: 100%;
    padding: 2px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF; /* Starting color */
    transition: background-color 1s ease-in-out; /* Animates the background-color change over 1 second */
    color: white;    
    font-weight: bold;
    //border: 1px;
    //border-style: solid;
    //border-color: black;
}

.isOk{
    background-color: #FFFFFF; /* Starting color */
    transition: background-color 1s ease-in-out; /* Animates the background-color change over 1 second */
}

.alert-left {
    display:flex;    
    align-items: center;
    //justify-content: flex-start;
    flex: 1;
}

.alert-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
 .alert-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4px;
    flex: 1;
 }